.unlock {
    position: relative;
  }
  .unlock-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent1,
  .frame-wrapper,
  .your-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .frame-wrapper {
    border-radius: var(--br-61xl);
    border: 1.7px dashed var(--base-color);
    box-sizing: border-box;
    width: 243.41px;
    padding: 6.569236755371094px 17.51796531677246px 6.569236755371094px
      16.423091888427734px;
    font-size: 57.87px;
    color: var(--base-color);
  }
  .frame-parent1 {
    gap: 18.61px;
    font-size: 63.26px;
  }
  .yes {
    position: relative;
    display: inline-block;
    width: 116.88px;
    flex-shrink: 0;
  }
  .yes-wrapper {
    border-radius: 38.96px;
    background-color: var(--base-color);
    width: 172.25px;
    padding: 8.202266693115234px 82.02267456054688px;
    box-sizing: border-box;
  }
  .frame-wrapper1,
  .potential-parent,
  .yes-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .frame-wrapper1 {
    border-radius: 51.26px;
    border: 2.1px dashed var(--color-black);
    padding: 8.202266693115234px;
    text-align: center;
    font-size: 41.01px;
    color: var(--color-white);
  }
  .potential-parent {
    gap: 20.51px;
  }
  .frame-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .our-product-wrapper {
    border-radius: 78.92px;
    border: 1.1px solid var(--base-color);
    display: flex;
    flex-direction: row;
    padding: 16.93159294128418px 67.72637176513672px;
    align-items: center;
    justify-content: center;
  }
  .frame-child {
    position: relative;
    border-radius: 1.69px;
    width: 30.05px;
    height: 34.18px;
  }
  .polygon-wrapper {
    border-radius: 62.65px;
    background-color: var(--color-darkslategray-100);
    border: 0.9px dashed var(--base-color);
    box-sizing: border-box;
    width: 75.23px;
    height: 75.23px;
    display: flex;
    flex-direction: row;
    padding: 16.93159294128418px;
    align-items: center;
    justify-content: center;
  }
  .frame-container,
  .frame-parent2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent2 {
    flex-direction: row;
    gap: 61.52px;
    text-align: center;
    font-size: var(--font-size-10xl-6);
    font-family: var(--font-poppins);
  }
  .frame-container {
    flex-direction: column;
    gap: 71.77px;
  }
  .group-child {
    position: absolute;
    top: 431.47px;
    left: 432.99px;
    border-radius: 272.84px;
    background: linear-gradient(
      136.52deg,
      rgba(255, 0, 122, 0.58),
      rgba(255, 168, 0, 0.37)
    );
    width: 431.47px;
    height: 431.47px;
    transform: rotate(179.8deg);
    transform-origin: 0 0;
  }
  .casual-life-3d-boy-sitting-wit-icon {
    position: absolute;
    top: 13.64px;
    left: 9.55px;
    width: 447.46px;
    height: 428.36px;
    object-fit: cover;
  }
  .rectangle-parent {
    position: relative;
    width: 457.01px;
    height: 442px;
  }
  .frame-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-201xl);
  }
  .frame-item {
    position: relative;
    width: 40px;
    height: 40px;
  }
  .group-container {
    border-radius: var(--br-25xl);
    display: flex;
    flex-direction: row;
    padding: var(--padding-base);
    align-items: center;
    justify-content: center;
  }
  .drive-your-money {
    position: relative;
    font-weight: 500;
    display: inline-block;
    width: 165.6px;
    flex-shrink: 0;
  }
  .drive-your-money-to-work-smart-wrapper {
    width: 180px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-5xs);
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
  }
  .a-safe-and {
    position: relative;
    display: inline-block;
    width: 319.2px;
    flex-shrink: 0;
  }
  .a-safe-and-secure-invesment-ne-wrapper,
  .frame-parent4 {
    display: flex;
    flex-direction: row;
    padding: var(--padding-5xs);
    justify-content: flex-start;
  }
  .a-safe-and-secure-invesment-ne-wrapper {
    width: 344px;
    height: 54.4px;
    box-sizing: border-box;
    align-items: center;
    font-size: var(--font-size-3xs-6);
  }
  .frame-parent4 {
    border-radius: var(--br-25xl);
    align-items: flex-start;
    gap: var(--gap-base);
  }
  .frame-parent3 {
    border-radius: var(--br-24xl-2);
    background-color: var(--color-peachpuff);
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-5xl);
  }
  .frame-parent,
  .frame-parent3,
  .frame-wrapper2 {
    display: flex;
    align-items: center;
  }
  .frame-wrapper2 {
    border-radius: var(--br-29xl-8);
    border: 0.8px dashed var(--color-black);
    flex-direction: row;
    padding: var(--padding-5xs);
    justify-content: flex-start;
    font-size: var(--font-size-smi-8);
    font-family: var(--font-poppins);
  }
  .frame-parent {
    position: relative;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    gap: var(--gap-21xl);
    text-align: left;
    font-size: var(--title-size);
    color: var(--color-black);
    font-family: var(--title);
  }
  